/*Global styles end*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: block;
}
/*Global styles end*/


/*Header styles start*/
header {
    background-color: #281C15;
    color: #FFF8F0;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    position: sticky;
    z-index: 9999;
}
header h1 {
    margin: 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 0;
    margin-top: 5px;
}
header nav ul li a {
    font-size: 20px;
    padding: 8px 25px;
    text-decoration: none;
}
/*Header styles end*/


/*Hero styles start*/
.hero {
    background-image: url(../images/flowers.jpeg);
    background-size: cover;
    height: 300px;
    background-position: 80%;
    width: 100%;
}
.hero h2 {
    font-style: italic;
    font-size: 30px;
    color: #FFF8F0;
    display: block;
    font-weight: normal;
    width: 20%;
    margin: 200px auto 20px 77%;
    background-color: #281C15;
    padding: 5px;
    text-align: center;
    position: absolute;
    border-radius: 5px;
}
/*Hero styles end*/


/* About Me styles start */
.about-me, .work, .contact-me {
    color: #281C15;
    margin: 20px;
}
.about-me {
    display: block;
}
.about-me-flex-container {
    display: flex;
    justify-content: space-between;
}
.about-me-flex-1 {
    border-right: 2px solid #281C15;
    flex-basis: 20%;
    text-align: right;
    font-size: 30px;
    padding: 10px;
}
.about-me-flex-2 {
    flex-basis: 80%;
    padding: 10px 40px;
}
/*About Me styles end*/


/* Work styles start */
.work {
    display: block;
}
.work-flex-container {
    display: flex;
    justify-content: space-between;
}
.work-flex-1 {
    border-right: 2px solid #281C15;
    flex-basis: 20%;
    text-align: right;
    font-size: 30px;
    padding: 10px;
}
.work-flex-2 {
    flex-basis: 80%;
    padding: 10px 40px;
}
.project-container {
    display: block;
}
.project-1{
    margin:0px;
    padding: 0;
}
.project-1 p, .project-2 p, .project-3 p, .project-4 p, .project-5 p{
    background-color: #281C15;
    color: #FFF8F0;
    margin: 0;
    padding: 10px;
    font-size: 20px;
}

.project-2-3 {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.project-2 {
}

.project-3 {

}

.project-4-5 {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.project-4 {

}

.project-5 {

}

/*Work styles end*/


/* Contact Me styles start */
.contact-me {
    display: block;
}
.contact-me-flex-container {
    display: flex;
    justify-content: space-between;
}
.contact-me-flex-1 {
    border-right: 2px solid #281C15;
    flex-basis: 20%;
    text-align: right;
    font-size: 30px;
    padding: 10px;
}
.contact-me-flex-2 {
    flex-basis: 80%;
    padding: 10px 40px;
}

.contact-me-flex-2 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 0;
    margin-top: 15px;
}
.contact-me-flex-2 ul li a {
    font-size: 20px;
    padding: 8px 25px;
    text-decoration: none;
/*Contact Me styles end*/