/*Global styles end*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: block;
}
/*Global styles end*/


/*Header styles start*/
header {
    background-color: #281C15;
    color: #FFF8F0;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    position: sticky;
    z-index: 9999;
}
header h1 {
    margin: 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 0;
    margin-top: 5px;
}
header nav ul li a {
    font-size: 20px;
    padding: 8px 25px;
}
/*Header styles end*/


/*Hero styles start*/
.hero {
    background-image: url(../images/flowers.jpeg);
    background-size: cover;
    height: 300px;
    background-position: 80%;
    width: 100%;
}
.hero h2 {
    font-style: italic;
    font-size: 30px;
    color: #FFF8F0;
    display: block;
    font-weight: bold;
    width: 20%;
    margin: 200px auto 20px 77%;
    background-color: #281C15;
    padding: 5px;
    text-align: center;
    position: absolute;
    border-radius: 5px;
}
/*Hero styles end*/


/* About Me styles start */
.about-me {
    display: block;
}
.about-me-flex-container {
    display: flex;
    justify-content: space-between;
}
/*About Me styles end*/


/* Work styles start */
.work {
    display: block;
}
.work-flex-container {
    display: flex;
    justify-content: space-between;
}
/*Work styles end*/


/* Contact Me styles start */
.contact-me {
    display: block;
}
.contact-me-flex-container {
    display: flex;
    justify-content: space-between;
}
/*Contact Me styles end*/