/*Global styles end*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: block;
    width: 100%
}

a {
    text-decoration: none;
}
a:link {
    color: #FFF8F0;
}
a:visited {
    color: #BD93D8;
}
a:hover {
    color: #9799CA;
  }

/*Global styles end*/


/*Header styles start*/
header {
    background-color: #281C15;
    color: #FFF8F0;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    position: fixed;
    width: 100vw;
    z-index: 9999;
}
header h1 {
    margin: 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 0;
    margin-top: 5px;
}
header nav ul li a {
    font-size: 20px;
    padding: 8px 25px;
}
/*Header styles end*/


/*Hero styles start*/
.hero {
    background-image: url(../images/flowers.jpeg);
    background-size: cover;
    height: 300px;
    background-position: 80%;
    width: 100%;
    margin: 50px 0 0 0;
    padding: 0;
}
.hero h2 {
    font-style: italic;
    font-size: 30px;
    color: #FFF8F0;
    display: block;
    font-weight: normal;
    width: 20%;
    margin: 200px auto 20px 77%;
    background-color: #281C15;
    padding: 5px;
    text-align: center;
    position: absolute;
    border-radius: 5px;
}
/*Hero styles end*/

/* Shared Section Styles start */
.about-me, .work, .contact-me {
    color: #281C15;
    margin: 20px;
}

.about-me-flex-container, .work-flex-container, .contact-me-flex-container {
    display: flex;
    justify-content: space-between;
}
.about-me-flex-1, .work-flex-1, .contact-me-flex-1 {
    border-right: 2px solid #281C15;
    flex-basis: 20%;
    text-align: right;
    font-size: 30px;
    padding: 10px;
}
.about-me-flex-2, .work-flex-2, .contact-me-flex-2 {
    flex-basis: 80%;
    padding: 10px 40px;
}
/* Shared Section Styles end */


/* About Me styles start */
.about-me p {
    font-size: 20px;
    line-height: 1.5;
}
.about-me p:first-child {
    margin: 0 auto;
}
.about-me p:last-child {
    margin:  20px auto auto auto;
}
.about-me-flex-2 {
    display: flex;
    justify-content: space-around;
}
.sub-flex-1 {
    flex-basis: 35%;
    
}
.sub-flex-2 {
    flex-basis: 65%;
    margin-left: 10px;
}

/*About Me styles end*/


/* Work styles start */
.work-flex-container {
    padding: 0;
    margin:0;
}

.project-1 p, .project-2 p, .project-3 p, .project-4 p, .project-5 p{
    background-color: #281C15;
    color: #FFF8F0;
    margin: 0;
    padding: 10px;
    font-size: 20px;
    width:100%;
}
.project-1 img {
    border: 2px solid #281C15;
    max-width: 1400px;
    width:100%;
} 

.project-2 img, .project-3 img, .project-4 img, .project-5 img {
    border: 2px solid #281C15;
    width: 100%;
    margin: 0;
    padding: 0;
}
.project-2, .project-3, .project-4, .project-5 {
    flex-grow: 1;
    flex-basis: 30%;
    flex-shrink: 0;
    max-width: 700px;
    min-width: 515px;
}
.project-2, .project-4{
    margin-right: 10px;
}
.project-2-3, .project-4-5 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.project-2-3 {
    padding: 10px 0 0 0;
}
.project-4-5 {
    padding: 10px 0 0 0;
}

/*Work styles end*/


/* Contact Me styles start */

.contact-me-flex-2 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 15px 10px;
    margin-top: 15px;
    background-color: #281C15;
}
.contact-me-flex-2 ul li a {
    font-size: 20px;
    padding: 8px 25px;
}
.contact-me a:visited {
    background-color: #281C15;
}
/*Contact Me styles end*/

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    .hero h2{
    margin: 120px auto 20px 77%;
    }
    header {
    display: block;
    }
    header h1 {
        text-align: center;
    }
    .about-me-flex-2 {
        display: block;
    }
    .contact-me ul {
        display: block;
    }
    .contact-me ul li {
        padding: 5px;
    }
}
  
/* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    h2 {
        font-size: 25px;
    }
    .project-1 img, .project-2 img, .project-3 img, .project-4 img, .project-5 img {
        display: none;
    }
    .project-1 p, .project-2 p, .project-3 p, .project-4 p, .project-5 p {
        color: #281C15;
        background-color: white;
        padding: 5px 0;
        margin:0;
    }
    .project-1 a, .project-2 a, .project-3 a, .project-4 a, .project-5 a {
        color: #281C15;
        margin: 0;
        padding: 0;
    }
    .project-2-3, .project-4-5 {
        margin: 0;
        padding: 0;
    }
    .about-me-flex-1, .work-flex-1, .contact-me-flex-1 {
        padding: 10px;
    }
    .about-me-flex-2, .work-flex-2, .contact-me-flex-2 {
        padding: 10px;
    }
    .work {
        margin-left: 58px;
    }
}
  
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    .work {
        margin-left: 43px;
    }
}